body
{
	text-align:center;
	font-family:'comic sans ms',sans-serif;
	background-image: url(giphy.gif);
	background-size:cover;
	background-attachment:fixed;
	color:black;
}
fieldset
{
	border:2px solid pink;
	border-radius:0px 20px 0px 20px;
	text-align:left;
	background-color:rgba(0,0,0,0.5);
	padding:10px;
}
fieldset legend
{
	border:2px solid white;
	border-radius:20px 0px 20px 0px;
	color:blue;
	background:linear-gradient(45deg,yellow,pink,yellow);
	padding:8px;
	box-shadow:0 0 10px red;
	font-size:20px;
	margin-top:25px;

}
table
{
	width:100%;
}
.btn
{
	padding:10px;
	border-radius:10px;
	outline:none;
	border:none;
	background:linear-gradient(45deg,yellow,pink,yellow);
	color:black;
	box-shadow:0 0 10px blue;
}
.btn:hover
{
	cursor:pointer;
}
input[type='text'],
textarea,
input[type='number'],
input[type='email'],
input[type='month'],
input[type='date'],
input[type='year']
input[type='percentage'],
input[type="University"]
{
	width:120px;
	height:20px;
	border-radius:10px;
	border:none;
	outline:none;
	margin:2px;	
}